<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :meno %><br />
    <%= f.text_field :meno %>
  </p>
  <p>
    <%= f.label :heslo %><br />
    <%= f.text_field :heslo %>
  </p>
  <p>
    <%= f.label :potvrdenie_hesla %><br />
    <%= f.text_field :potvrdenie_hesla %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
